body {      
      font-family: 'Open Sans', sans-serif;
      background-color:rgba(255, 255, 255);
}
nav {
      background-color: white;
      font-family: 'Noto Sans JP', sans-serif;
      margin-left: 3rem;
      margin-right: 3rem;
}
nav li{
      padding: 14px 16px;
}
nav li a:hover {
  background-color: navajowhite;
  margin: 0;
  padding: 0;
}
nav #title-name{
      font-family: 'tahoma', sans-serif; 
      font-size: 40px;
      font-weight: bold;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: gray;
  text-align: center;
  font-size: 12px;
}